<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :First_Name, style: "display: block" %>
    <%= form.text_field :First_Name %>
  </div>

  <div>
    <%= form.label :Last_Name, style: "display: block" %>
    <%= form.text_field :Last_Name %>
  </div>

  <div>
    <%= form.label :Middle_Name, style: "display: block" %>
    <%= form.text_field :Middle_Name %>
  </div>

  <div>
    <%= form.label :Profile_Picture, style: "display: block" %>
    <%= form.text_field :Profile_Picture %>
  </div>

  <div>
    <%= form.label :Email, style: "display: block" %>
    <%= form.text_field :Email %>
  </div>

  <div>
    <%= form.label :Phone_Number, style: "display: block" %>
    <%= form.text_field :Phone_Number %>
  </div>

  <div>
    <%= form.label :Current_Job, style: "display: block" %>
    <%= form.text_field :Current_Job %>
  </div>

  <%= form.collection_select :location_id, Location.order(:city), :id, :city, include_blank: true %>

  <div id="new_location_fields">
    <%= form.fields_for :location, Location.new do |location_form| %>
      <%= location_form.text_field :country %>
      <%= location_form.text_field :state %>
      <%= location_form.text_field :city %>
    <% end %>
  </div>

  <div>
    <%= form.label :Linkedin_Profile, style: "display: block" %>
    <%= form.text_field :Linkedin_Profile %>
  </div>

  <div>
    <%= form.label :is_Admin, style: "display: block" %>
    <%= form.check_box :is_Admin, {}, 'true', 'false' %>
  </div>

  <div>
    <%= form.submit %>
  </div>

  <script>
    // Wait for the DOM to be fully loaded
    document.addEventListener("DOMContentLoaded", function() {
      // Get the select dropdown and the div for the new location fields
      var locationSelect = document.querySelector('#user_location_id');
      var newLocationFields = document.querySelector('#new_location_fields');

      // Define a function to toggle the display of the new location fields
      var toggleNewLocationFields = function() {
        // Check if the dropdown's value is empty (meaning 'choose a location' is selected)
        if(locationSelect.value) {
          newLocationFields.style.display = 'none';
        } else {
          newLocationFields.style.display = 'block';
        }
      };

      // Add an event listener to the select dropdown to toggle the new location fields
      locationSelect.addEventListener('change', toggleNewLocationFields);

      // Call the toggle function initially in case the select is already set to an empty value
      toggleNewLocationFields();
    });
  </script>
<% end %>
