<div id="<%= dom_id user %>">
  <p>
    <strong>First name:</strong>
    <%= user.First_Name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= user.Last_Name %>
  </p>

  <p>
    <strong>Middle name:</strong>
    <%= user.Middle_Name %>
  </p>

  <p>
    <strong>Profile picture:</strong>
    <%= user.Profile_picture %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.Email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= user.Phone_Number %>
  </p>

  <p>
    <strong>Current job:</strong>
    <%= user.Current_Job %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= user.Location %>
  </p>

  <p>
    <strong>Linkedin profile:</strong>
    <%= user.Linkedin_Profile %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_Admin %>
  </p>

</div>
