<%= form_with(url: users_path, method: :get, local: true, class: "my-4") do |form| %>
  <div class="flex justify-center content-center items-center">
    <div class="flex justify-center content-center items-center relative flex-grow">
      <%= form.text_field :search, value: params[:search], placeholder: "Search users...", class: "w-1/2 pr-40 pl-4 py-2 rounded-l-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      <div class="absolute inset-y-0 right-0 flex items-center">
        <%= form.select :filter, options_for_select([['Name', 'name'], ['Current Job', 'current_job'], ['Location', 'location'], ['Class Year', 'class_year'], ['Practice Area', 'practice_area']], params[:filter]), { prompt: 'Filter by' }, class: "w-48 mr-2 px-4 py-2 rounded-r-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
      </div>
    </div>
    <%= form.submit "Search", class: "ml-2 px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
  </div>
<% end %>



<div class="overflow-x-auto">
  <table class="min-w-full leading-normal">
    <thead>
      <tr>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Name
        </th>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Current Job
        </th>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          Practice Areas
        </th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr class="hover:bg-gray-100 cursor-pointer" onclick="window.location='<%= user_path(user) %>'">
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <!-- User name and avatar here -->
            <%= "#{user.First_Name} #{user.Last_Name}" %>
          </td>
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <!-- User current job here -->
            <%= user.Current_Job %>
          </td>
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <!-- User practice areas here; joined if present -->
            <%= user.practice_areas.map(&:practice_area).join(', ') %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>




<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rows = document.querySelectorAll('tr[data-href]');
    rows.forEach(row => {
      row.addEventListener('click', () => {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>
