<!-- samdcole48 session email statement needs to be removed before app is shipped to customer -->
<% unless @todo_list.empty? || session[:email] == 'samdcole48@gmail.com' || session[:email] == 'blsa.tamu@gmail.com'%>
  <div class="flex justify-center my-4 bg-tamu-maroon rounded-lg p-4 w-1/3 mx-auto">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-white mb-4">Todo List</h2>
      <div class="todo-list m-4">
        <ul id="todo-list" class="space-y-2">
          <% @todo_list.each do |item, path| %>
          <li><a href=<%= path.html_safe %> class="text-white hover:text-gray-300"><%= item.html_safe %></a></li></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="flex justify-center my-4 p-4">
  <%= form_with(url: users_path, method: :get, local: true, class: "w-1/2") do |form| %>
    <div class="flex items-center">
      <div class="relative flex-grow">
        <%= form.text_field :search, value: params[:search], placeholder: "Search users...", class: "w-full pl-4 pr-48 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        <div class="absolute inset-y-0 right-0 flex items-center">
          <%= form.select :filter, options_for_select([['Name', 'name'], ['Current Job', 'current_job'], ['Location', 'location'], ['Class Year', 'class_year'], ['Practice Area', 'practice_area']], params[:filter]), { prompt: 'Filter by' }, class: "w-48 py-2 rounded-r-md border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-500" %>
        </div>
      </div>
      <%= form.submit "Search", class: "ml-2 px-4 py-2 bg-tamu-maroon text-white rounded-md hover:bg-tamu-dark-maroon" %>
    </div>
  <% end %>
</div>

<div class="overflow-x-auto">
  <table class="min-w-full leading-normal table-fixed user-table">
    <thead>
      <tr>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider w-12">

        </th>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          <%= link_to users_path(sort_by: 'name', sort_direction: @sort_direction == 'asc' ? 'desc' : 'asc', search: params[:search], filter: params[:filter]), class: 'text-gray-600 hover:text-gray-800' do %>
          Name
          <% if @sort_by == 'name' %>
            <% if @sort_direction == 'asc' %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L10 6.414l-3.293 3.293a1 1 0 01-1.414 0z" clip-rule="evenodd" />
              </svg>
            <% else %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L10 13.586l3.293-3.293a1 1 0 011.414 0z" clip-rule="evenodd" />
              </svg>
            <% end %>
          <% end %>
          <% end %>
        </th>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          <%= link_to users_path(sort_by: 'current_job', sort_direction: @sort_direction == 'asc' ? 'desc' : 'asc', search: params[:search], filter: params[:filter]), class: 'text-gray-600 hover:text-gray-800' do %>
            Current Job
            <% if @sort_by == 'current_job' %>
              <% if @sort_direction == 'asc' %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L10 6.414l-3.293 3.293a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L10 13.586l3.293-3.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              <% end %>
            <% end %>
          <% end %>
        </th>
        <th class="text-center px-5 py-3 border-b-2 border-gray-200 bg-gray-100 text-left text-xs font-semibold text-gray-600 uppercase tracking-wider">
          <%= link_to users_path(sort_by: 'practice_areas', sort_direction: @sort_direction == 'asc' ? 'desc' : 'asc', search: params[:search], filter: params[:filter]), class: 'text-gray-600 hover:text-gray-800' do %>
            Practice Areas
            <% if @sort_by == 'practice_areas' %>
              <% if @sort_direction == 'asc' %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                  <path fill-rule="evenodd" d="M5.293 9.707a1 1 0 010-1.414l4-4a1 1 0 011.414 0l4 4a1 1 0 01-1.414 1.414L10 6.414l-3.293 3.293a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                </svg>
              <% else %>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="ml-1 inline-block w-4 h-4">
                  <path fill-rule="evenodd" d="M14.707 10.293a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 111.414-1.414L10 13.586l3.293-3.293a1 1 0 011.414 0z" clip-rule="evenodd" />
                </svg>
              <% end %>
            <% end %>
          <% end %>
          </th>
        </tr>
     </thead>
    <tbody>
      <% @users.each do |user| %>
      <% next if user.Email == 'blsa.tamu@gmail.com' %> <!-- Skip the BLSA account -->
        <tr class="hover:bg-gray-100 cursor-pointer" onclick="window.location='<%= user_path(user) %>'">
          <td>
            <% if user.Profile_Picture.blank? %>
                <%= image_tag('default_pfp', alt: "Default profile picture", class: "h-12 w-12 object-cover rounded-full") %>
              <% else %>
                <%= image_tag(user.Profile_Picture, alt: "#{user.First_Name}'s profile picture", class: "h-12 w-12 object-cover rounded-full") %>
              <% end %>
          </td>
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm flex flex-col">
            <%= "#{user.First_Name} #{user.Last_Name}" %>
          </td>
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <!-- User current job here -->
            <%= user.Current_Job %>
          </td>
          <td class="text-center px-5 py-5 border-b border-gray-200 bg-white text-sm">
            <!-- User practice areas here; joined if present -->
            <%= user.practice_areas.map(&:practice_area).join(', ') %>
          </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>




<script>
  document.addEventListener('DOMContentLoaded', () => {
    const rows = document.querySelectorAll('tr[data-href]');
    rows.forEach(row => {
      row.addEventListener('click', () => {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>
