<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Back to users", users_path %>
  <% if current_user_is_admin? %>
    <%= link_to "Edit user", edit_user_path(@user) %>
    <%= link_to "Delete user", delete_user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %>
  <% end %>
</div>
