<div id="<%= dom_id education_info %>">
  <p>
    <strong>Semester:</strong>
    <%= education_info.Semester %>
  </p>

  <p>
    <strong>Grad year:</strong>
    <%= education_info.Grad_Year %>
  </p>

  <p>
    <strong>University:</strong>
    <%= education_info.University %>
  </p>

  <p>
    <strong>Degree type:</strong>
    <%= education_info.Degree_Type %>
  </p>

</div>
