<div id="<%= dom_id education_info %>">
  <p>
    <strong>Semester:</strong>
    <%= education_info.semester %>
  </p>

  <p>
    <strong>Grad year:</strong>
    <%= education_info.grad_year %>
  </p>

  <p>
    <strong>University:</strong>
    <%= education_info.university %>
  </p>

  <p>
    <strong>Degree type:</strong>
    <%= education_info.degree_type %>
  </p>

</div>
