<%= form_with(model: education_info) do |form| %>
  <% if education_info.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(education_info.errors.count, "error") %> prohibited this education_info from being saved:</h2>

      <ul>
        <% education_info.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :semester, style: "display: block" %>
    <%= form.text_field :semester %>
  </div>

  <div>
    <%= form.label :grad_year, style: "display: block" %>
    <%= form.number_field :grad_year %>
  </div>

  <div>
    <%= form.label :university, style: "display: block" %>
    <%= form.text_field :university %>
  </div>

  <div>
    <%= form.label :degree_type, style: "display: block" %>
    <%= form.text_field :degree_type %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
