<p style="color: green"><%= notice %></p>

<%= render @education_info %>

<div>
  <%= link_to "Edit this education info", edit_education_info_path(@education_info) %> |
  <%= link_to "Back to education infos", education_infos_path %>

  <%= button_to "Destroy this education info", @education_info, method: :delete %>
</div>
