<p style="color: green"><%= notice %></p>

<%= render @university %>

<div>
  <%= link_to "Edit University", edit_university_path(@university) %> |
  <%= link_to "Back to universities", universities_path %>

  <%= button_to "Delete University", university_path(@university), method: :delete %>
</div>
