<p style="color: green"><%= notice %></p>

<%= render @university %>

<div>
  <%= link_to "Back to universities", universities_path %>
  <br>
  <% if current_user_is_admin? %>
    <%= link_to "Edit University", edit_university_path(@university) %>
    <%= button_to "Delete University", university_path(@university), method: :delete %>
  <% end %>
</div>
